<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <div class="cart">
        <h1>Cart</h1>

        <% if (emptyCart) { %>
        <i>Cart is empty</i>

        <% } %>

        <% if (user.status == "guest") { %>

        <p>Hello <%= user.status %>, here is the content of your cart:</p>
        <div class="cartContainer">
            <br />
            <% user.cart.forEach(album => { %>
            <div class="info">
                <p class="album"><i><%= album.name %></i> by <%= album.artist %></p>
                <p class="price"><%= album.price %> SEK</p>
            </div>
            <br />

            <% }); %>

        </div>
        <p>You are not a registered user, please <a href="/signup">sign up</a> and login to proceed to checkout and
            place
            your order.</p>

        <% } %>

        <% if (user.status == "user") { %>
        <p>Hello <%= user.username %>, here is the content of your cart:</p>
        <div class="cartContainer">
            <% user.cart.forEach(album => { %>

            <div class="item">
                <div class="image">
                    <img src="<%= album.imgUrl %>" alt="Image of '<%= album.name %>' by <%= album.artist %>" />
                </div>

                <div class="yourCart">
                    <i><%= album.name %></i><br>
                    <b><%= album.artist %></b><br>
                    <%= album.price %> SEK
                </div>
                <div class="removeItem">
                    <a href="/removeitem/<%= album._id %>">X</a>
                </div>
            </div>
            <% }); %>
        </div>
        <div class="cost">Total Sum: <%= totalPrice %> SEK</div>
    </div>

    <div class="checkout">
        <a href="/checkout" style="color: blue; font-size:large; margin: 0 auto"><h3>Proceed to checkout</h3></a>
    </div>
    <% } %>

    <% if (user.status == "admin") { %>
    <p>Hello <%= user.username %>, you have the status of <%= user.status %> and don't have the possibility to add
        item
        to your cart. Please go to:</p>
    <a href="/" style="color:aliceblue">Main</a><br />
    <a href="/admin" style="color:aliceblue">Admin page</a>
    <% } %>

</body>

</html>