<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>

    <h1 style="text-align: center;">Checkout page</h1>

    <% if (user.status == "user") { %>
    <form action="" method="POST">
        <p  style="text-align: center; font-size: large">Hello <strong style="text-transform: uppercase;"><%= user.username %></strong>, this is the content of your cart:</p>
        <div class="checkoutContainer">
            <% user.cart.forEach(album=> { %>
            <div class="yourCart">
                <div class="item">
                    <div class="image checkoutImg">
                        <img src="<%= album.imgUrl %>" alt="Image of '<%= album.name %>' by <%= album.artist %>" />
                    </div>
                    <i><%= album.name %></i><br>
                    <b><%= album.artist %></b><br>
                    <b><%= album.price %> SEK</b><br>
                </div>
                <br />
            </div>
            <% }); %>
        </div>
        <h3 style="text-align: center;">Total Sum: <%= totalPrice %> SEK</h3>
        <br />
        <!-- <h3 class="formH">Billing Information</h3>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <br /> -->
        <button id="btn" type="submit" style="margin: 0 auto; display: block; height: 50px; width: 100px; font-size: large; padding:5px">Buy</button>
        <br />
    </form>
    <% } %>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('pk_test_a2nZXleNAvKi5KDB0n6i2T9L00fvPpKRo3');
        document.querySelector("#btn").addEventListener("click", () => {
            stripe.redirectToCheckout({
                sessionId: "<%= sessionId %>"
            })
        })
    </script>

</body>

</html>